#set_io  hwclk             C16
#set_io --warn-no-port clk               J3
set_io --warn-no-port clk               C16
set_io --warn-no-port leds[7]           B5
set_io --warn-no-port leds[6]           B4
set_io --warn-no-port leds[5]           A2
set_io --warn-no-port leds[4]           A1
set_io --warn-no-port leds[3]           C5
set_io --warn-no-port leds[2]           C4
set_io --warn-no-port leds[1]           B3
set_io --warn-no-port leds[0]           C3

#set_io --warn-no-port address_inst_out_led[7]           B5
#set_io --warn-no-port address_inst_out_led[6]           B4
#set_io --warn-no-port address_inst_out_led[5]           A2
#set_io --warn-no-port address_inst_out_led[4]           A1
#set_io --warn-no-port address_inst_out_led[3]           C5
#set_io --warn-no-port address_inst_out_led[2]           C4
#set_io --warn-no-port address_inst_out_led[1]           B3
#set_io --warn-no-port address_inst_out_led[0]           C3

#set_io --warn-no-port address_inst_out_mcu[7]           D16
#set_io --warn-no-port address_inst_out_mcu[6]           E16
#set_io --warn-no-port address_inst_out_mcu[5]           F16
#set_io --warn-no-port address_inst_out_mcu[4]           G16
#set_io --warn-no-port address_inst_out_mcu[3]           H16
#set_io --warn-no-port address_inst_out_mcu[2]           J15
#set_io --warn-no-port address_inst_out_mcu[1]           G14
#set_io --warn-no-port address_inst_out_mcu[0]           K14

#set_io --warn-no-port instruction[7]    B5
#set_io --warn-no-port instruction[6]    B4
#set_io --warn-no-port instruction[5]    A2
#set_io --warn-no-port instruction[4]    A1
#set_io --warn-no-port instruction[3]    C5
#set_io --warn-no-port instruction[2]    C4
#set_io --warn-no-port instruction[1]    B3
#set_io --warn-no-port instruction[0]    C3
